#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
}

.albumArt {
    width: 500px;
    height: 500px;
}

.disc {
    width: 400px;
    padding: 8px;

    pointer-events: none;
    user-select: none;
}

.disc.inactive {
    opacity: 0.1;
    cursor: not-allowed;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .spinning {
        animation: spin infinite 1.8s linear;
        /* 33 1/3 RPM; time per revolution = 1.8s */
    }
}

/* TURNTABLE */

.plate {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    position: relative;
}

.plate::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-image: repeating-linear-gradient(
        45deg,
        #ffffff 0,
        #ffffff 10px,
        transparent 10px,
        transparent 25px
    );
    border-image-slice: 1;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: 100;
}

.plate.showOutline::before {
    opacity: 1;
}

.floating {
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 0%;
}

.container {
    margin: 1rem;
    padding: 1rem;
    min-width: 300px;
    max-width: 300px;
    min-height: 50px;
    background: #232327;
    border-radius: 10px;
}

.topRight {
    position: absolute;
    top: 0;
    right: 0;
}

.bottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type='number'] {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;

    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.5em 0.8em;
    width: 60px;
    transition: border-color 0.25s, background-color 0.25s;
}

input[type='number']:hover {
    border-color: #646cff;
}

input[type='number']:focus {
    outline: none;
    border-color: #535bf2;
    background-color: #222;
}

.toggle {
    &:disabled {
        background-color: #1a1a1a !important;
        opacity: 20%;
        border-color: transparent !important;
        outline: none !important;
    }
    &.active {
        background-color: #0f8710;
        &:hover {
            outline: 3px solid #bc1e2e;
            border-color: transparent;
        }
    }
    &.inactive {
        background-color: #bc1e2e;
        &:hover {
            outline: 3px solid #0f8710;
            border-color: transparent;
        }
    }
}

/* CONTROLLER */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171717;
    width: 100vw;
    flex-shrink: 0;
    max-height: 100px;
}

.userImage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 1rem;
}

.brandImage {
    margin: 0 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poweredBy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchorLeft {
    margin-right: auto;
}

.anchorRight {
    margin-left: auto;
}

.error {
    background-color: #430c11;
    border: 1px solid #bc1e2e;
    color: #df7a83;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    max-width: 1200px;
    min-height: 200px;
    margin: auto;
    margin-top: 1rem;
}

.main {
    padding: 1rem;
    margin: 0 auto;
}

.controls {
    margin-bottom: 1rem;
}

.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b1b1b;
    height: calc(100vh - 90px);
    /* padding: 10px; */
    overflow-y: scroll;
}

.albumArtMini {
    width: 128px;
    height: 128px;
    cursor: pointer;
}

.forbidden {
    cursor: not-allowed !important;
}

.camera {
    max-width: 600px;
    max-height: 800px;
    padding: 8px;
}

/* MOBILE */

@media (max-width: 768px) {

    .banner {
        h1, h2 {
            font-size: 0.9em;
            line-height: 1.1;
        }
    }

    .poweredBy {
        flex-direction: column;
        margin: -1rem 1rem 0 0;
        font-size: 0.6rem;
    }

    .brandImage {
        margin: -1rem 0 0 0;
        max-height: 24px;
    }

    .errorImg {
        width: 200px;
        height: 200px;
    }

    .error {
        height: 100%;
        margin: 0rem;
        margin-top: 1rem;
        padding: 0.5rem;

        h1, h2, p, li {
            font-size: 0.9em;
            line-height: 1.1;
        }
    }

    .userImage {
        width: 32px;
        height: 32px;
    }

    h1, h2 {
        font-size: 1.5em;
        line-height: 1.1;
    }

    .albumArt {
        width: 300px;
        height: 300px;
    }

    .panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .sidebar {
        flex-direction: row;
        height: calc(100vw / 4);
        width: 100vw;
        max-width: 100vw;
        overflow-y: none;
        overflow-x: scroll;
    }

    .albumArtMini {
        width: calc(100vw / 4);
        height: calc(100vw / 4);
    }
}
